
  </div>

    <div class="footer-padding"></div>
      <div class="footer">
        <a href="https://twitter.com"><i class="fab fa-twitter foot"></i></a>
        <a href="https://facebook.com"><i class="fab fa-facebook foot"></i></a>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram foot"></i></a>
        <a href="https://gmail.com"><i class="fas fa-envelope foot"></i></a>
        <p>Jega 2022</p>
      </div>
      </div>
  </body>
</html>
