
<div class="footer w-100 text-center">
        <a href="https://twitter.com"><i class="fab fa-twitter foot"></i></a>
        <a href="https://facebook.com"><i class="fab fa-facebook foot"></i></a>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram foot"></i></a>
        <a href="https://gmail.com"><i class="fas fa-envelope foot"></i></a>
        <% const currentYear = new Date().getFullYear(); %>
        <p>Jega <%=currentYear%> </p>
    </div>
