  <div class="footer w-100 text-center bg-color pt-4 pb-3">
    <a href="https://twitter.com"><i class="fab fa-twitter social-icon "></i></a>
    <a href="https://facebook.com"><i class="fab fa-facebook social-icon"></i></a>
    <a href="https://www.instagram.com/"><i class="fab fa-instagram social-icon"></i></a>
    <a href="https://gmail.com"><i class="fas fa-envelope social-icon"></i></a>
    <p>Daily Journal App <%= new Date().getFullYear() %></p>
    
  </div>