<input type="hidden" value="<%= postId %>" name="postId"/>
<div class="form-group">
  <label>Title</label>
  <input class="form-control" type="text" name="postTitle" value="<%= postTitle %>">
  <label>Body</label>
  <textarea class="form-control" name="postBody" rows="5" cols="30"><%= postBody %></textarea>
</div>
<button class="btn btn mt-3 btn-app" type="submit" name="button">Save</button>
