<div class="my-5 container">
    <h1 class="titles"><%- formTitle %></h1>
    <div class="row">
        <div class="col-lg-1 col-xl-2"></div>
        <div class="col col-lg-10 col-xl-8">
            <form action="/<%- formAction %>" method="post">
                <%- include("formFields"); -%>
            </form>
        </div>
        <div class="col-lg-1 col-xl-2"></div>
    </div>
</div>