<%- include("partials/header"); -%>
    <div class="mt-5 mb-2 container max-700">
        <div class="row">
            <div class="col">
                <h1 class="titles">ABOUT</h1>

                <p class=" text-justify">
                    Hey there! Welcome to our online daily journal. We're so glad you stopped by.
                </p>
                <p>
                    Think of our website as a cozy little corner of the internet where you can pour your heart out, reflect on the day's events, and document the ups and downs of life. We understand that journaling can feel intimidating, but we've created a user-friendly platform that makes it easy and accessible for everyone.
                </p>
                <p>
                    Our goal is to create a warm and welcoming space where you can feel comfortable being yourself. So grab a cup of tea, get comfortable, and start journaling. We're here to support you on your journey of self-reflection and personal growth. Thanks for choosing us as your go-to journaling platform.
                </p>
                <p>
                    Worried about your privacy? No need to! Your entries are fully encrypted and nobody can have access
                    to the content of them (not even our team). Your thoughs are safe here.
                </p>
            </div>
        </div>
    </div>    

<%- include("partials/footer"); -%>
