<%- include("partials/header"); -%>
    <div class="mt-5 mb-5container">
        <div class="row">
            <div class="col">
                <h1 class="titles">ABOUT</h1>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col">
                    <p class="container text-justify"> <%= aboutContent %> </p>
                </div>
            </div>
        </div>
    </div>    

<%- include("partials/footer"); -%>
