
<%- include("partials/header"); -%>
  
  <h1 class="titles">Compose</h1>
  <div class="mt-5"></div> 
  <form class="compose container" action="/compose" method="post">
    <%- include("partials/formFields"); -%>
  </form>
<%- include("partials/footer"); -%>
