
<%- include("partials/header"); -%>
  <div class="mt-2 mb-2 d-lg-none container">
    <div class="row">
      <div class="col ">
        <a class="link" href="/"> < Back to Home</a>
        <h1 class="titles">COMPOSE</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <form class="compose " action="/compose" method="post">
          <%- include("partials/formFields"); -%>
        </form>
      </div>
    </div>
  </div>
<%- include("partials/footer"); -%>


