<%- include("partials/header"); -%>
<div class="content container max-700">
    <div class="pb-4">
        <h1>Contact</h1>
        <p class="text-muted small">Do you have a quenstion? We are here to help</p>
        <hr>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 pb-4"> 
        <div class="card card-bg-color" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Email  <i class="contact text-primary  fas fa-envelope foot"></i></h5>
            <p class="card-text small">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="https://gmail.com" class="btn cta-button">Contact Via Email</a>
            </div>
        </div>
        </div>
        
        <div class="col-12 col-md-6 pb-4">  
            <div class="card card-bg-color" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">Phone  <i class="contact text-primary  fas fa-phone foot"></i></h5>
                <p class="card-text small">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn cta-button">Contact Via phone</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 pb-4">
        <div class="card card-bg-color" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Instagram  <i class=" text-primary  fab fa-instagram foot"></i> </h5>
            <p class="card-text small">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="https://instagram.com" class="btn cta-button">Contact Via Instagram</a>
            </div>
        </div>
        </div>

        <div class="col-12 col-md-6 pb-4">
        <div class="card card-bg-color" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Twitter  <i class=" text-primary fab fa-twitter foot"></i></h5>
            <p class="card-text small">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="https://twitter.com" class="btn cta-button">Contact Via Twitter</a>
            </div>
        </div>
        </div>
    </div>
</div>
<%- include("partials/footer"); -%>
