<%- include("partials/header"); -%>
<div class="mt-2 mb-5 container">
    <div class="row">
        <div class="col">
            <h1 class="titles">Contact</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="container"> <%= contactContent %> </p>
        </div>
    </div>
</div>
<%- include("partials/footer"); -%>
