<%- include("partials/header"); -%>

<div class="content container max-700">
    <div class="row">
        <div class="col pb-4">
            <h1>Contact</h1>
            <p class="text-muted small">Do you have a quenstion? We are here to help</p>
            <hr>
        </div>
    </div>
    
    <div class="pb-4"> 
      <div class="card card-bg-color" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Email</h5>
          <p class="card-text small">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn cta-button">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="pb-4">  
        <div class="card card-bg-color" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Phone</h5>
              <p class="card-text small">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn cta-button">Go somewhere</a>
            </div>
          </div>
    </div>
     


    <div class="pb-4">
      <div class="card card-bg-color" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Facebook</h5>
          <p class="card-text small">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn cta-button">Go somewhere</a>
        </div>
      </div>
    </div>


    <div class="pb-4">
      <div class="card card-bg-color" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Instagram</h5>
          <p class="card-text small">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn cta-button">Go somewhere</a>
        </div>
      </div>
    </div>
</div>

    <!-- <p class="general-text container text-center">
        <a class="bluelink" href="https://twitter.com">Twitter<i class=" text-primary fab fa-twitter foot"></i></a>
        We're always monitoring our Twitter account and would be happy to help you out with any
        questions or concerns you may have.
    </p>
    <p class="general-text container text-center">
        <a class="bluelink" href="https://facebook.com">Facebook<i class=" text-primary fab fa-facebook foot"></i></a>
        You can send us a message on our official Facebook page.
        We're always checking our inbox and will respond as quickly as we can.
    </p>
    <p class="general-text container text-center">
        <a class="bluelink" href="https://www.instagram.com/">Instagram<i class=" text-primary  fab fa-instagram foot"></i></a>
        You can follow us on Instagram and send us a direct message.
        We love seeing your posts and comments so feel free to share your experience with us.
    <p class="general-text container text-center">
        <a class="bluelink"href="https://gmail.com">Email<i class="contact text-primary  fas fa-envelope foot"></i></a>
        For any inquiries or questions, you can reach us by sending an email to our support team.
        We'll make sure to respond to your message ASAP, within 24 hours.
    </p>
 </div> -->
<%- include("partials/footer"); -%>
