<%- include("partials/header"); -%>
<div class="mt-5 mb-5 container max-700">
    <div class="row">
        <div class="col">
            <h1 class="titles">CONTACT</h1>
        </div>
    </div>
    
    <p class=" text-center">
     Hey there! We're excited to hear from you and are committed to providing excellent customer service.  
     Whether you have a question, feedback or just want to say hello, here are the ways you can get in touch with us:
    </p>
    

    
    <div class="row">
        <div class="col">
            <p class="container text-center">  
                <a class="" href="https://twitter.com">Twitter<i class="contact text-primary fab fa-twitter foot"></i></a>
                We're always monitoring our Twitter account and would be happy to help you out with any 
                questions or concerns you may have.
            </p> 
      
            <p class="container text-center">  
                <a class="" href="https://facebook.com">Facebook<i class="contact text-primary fab fa-facebook foot"></i></a>
                You can send us a message on our official Facebook page. 
                We're always checking our inbox and will respond as quickly as we can.
            </p>

            <p class="container text-center"> 
                <a class="" href="https://www.instagram.com/">Instagram<i class="contact text-primary  fab fa-instagram foot"></i></a>
                You can follow us on Instagram and send us a direct message.
                We love seeing your posts and comments so feel free to share your experience with us.
            

            <p class="container text-center">
                <a href="https://gmail.com">Email<i class="contact text-primary  fas fa-envelope foot"></i></a>    
                For any inquiries or questions, you can reach us by sending an email to our support team. 
                We'll make sure to respond to your message ASAP, within 24 hours.
               
            </p>
        </div>
    </div>
</div>
<%- include("partials/footer"); -%>
