<%- include("partials/header"); -%>
  
    <h1 class="titles">Update entry</h1>
    <div class="mt-5"></div> 
    <form class="compose container" action="/posts/<%= postId %>/update" method="POST">
        <%- include("partials/formFields"); -%>
    </form>
<%- include("partials/footer"); -%>