<%- include('partials/header') %>

<section class="bg-color content">
  <div class="container p-5">
    <div class="row mt-2 py-3 card-bg-color radius-3percent">
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center mb-5 mb-md-0">
          <div class="text-center mb-5">
              <h2>Become a Daily Writer!</h2>
          </div>
          <div class="d-flex flex-row justify-content-around">
              <div class="d-flex flex-column align-items-center">
                  <p class="text-center">Already have an account? </p>
                  <a class="btn cta-button" href="/login">Login</a>
              </div>
              <div class="d-flex flex-column align-items-center">
                  <p class="text-center">Create an account today.</p>
                  <a class="btn cta-button" href="/register">Register</a>
              </div>
          </div>
      </div>
      <div class = "col-12 col-md-6">
        <div class="text-center">
          <img class="welcome-img" src="/images/pexels-arina.jpg">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-color content">
  <div class="container p-5">
    <div class="row mt-2 py-3 card-bg-color radius-3percent">
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center mb-5 mb-md-0">
          <div class="text-center mb-5 mt-3 align-content-center ">
          
                <i class="fas fa-check-circle fa-2x mb-2"></i>
                <h3 class="feature-title">Easy to use</h3>
                <p>Intuive and simple to use.</p>
           
              
                <i class="fas fa-star fa-2x mb-2"></i>
                <h3 class="feature-title">Pleasant interface</h3>
                <p>A minimalist interface helps you focus on your thoughts.</p>
    
      
                <i class="fas fa-heart fa-2x mb-2"></i>
                <h3 class="feature-title">Safe place</h3>
                <p>Your entries are fully encrypted and nobody can have access to the content of them </p>
            
          
          </div>
      </div>
      </div>
    </div>
  </div>
</section> 

<section class="bg-color content">
  <div class="container p-5">
    <div class="row mt-2 py-3 card-bg-color radius-3percent">
      <div id="testimonial-carousel" class="carousel slide" data-ride="true">
        <div class="carousel-inner">
            <div class="carousel-item active container-fluid">
              <h2 class="testimonial-text">I no longer have to sniff other dogs for love. I've found the hottest Corgi on TinDog. Woof.</h2>
              <img class="testimonial-image" src="images/dog-img.jpg" alt="dog-profile">
              <em>Pebbles, New York</em>
            </div>
            <div class="carousel-item container-fluid">
              <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think.</h2>
              <img class="testimonial-image" src="images/lady-img.jpg" alt="lady-profile">
              <em>Beverly, Illinois</em>
            </div>
          </div>
        <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') %>