<%- include('partials/header') %>

<section class="bg-color content">
  <div class="container p-5">
    <div class="row mt-2 py-5 card-bg-color radius-3percent">
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center mb-5 mb-md-0">
          <div class="text-center mb-5">
              <h2>Become a Daily Writer!</h2>
          </div>
          <div class="d-flex flex-row justify-content-around">
              <div class="d-flex flex-column align-items-center">
                  <p class="text-center">Already have an account? </p>
                  <a class="btn cta-button" href="/login">Login</a>
              </div>
              <div class="d-flex flex-column align-items-center">
                  <p class="text-center">Create an account today.</p>
                  <a class="btn cta-button" href="/register">Register</a>
              </div>
          </div>
      </div>

      <div class = "col-12 col-md-6">
        <div class="text-center">
          <img class="welcome-img" src="/images/pexels-arina.jpg">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-color content">
  <div class="container p-3">
    <div class="row mt-2 py-3 card-bg-color radius-3percent">
      <div class="col-12 col-md-6 d-flex flex-column align-content-center mb-5 mb-md-0">
          <div class="text-center mb-5">
            <div class="row">
              <div class="feature-box col-lg-4">
                <i class="fas fa-check-circle fa-2x img-item mb-2"></i>
                <h3 class="feature-title">Easy to use</h3>
                <p>Intuive and simple to use.</p>
              </div>
              <div class="feature-box col-lg-4" >
                <i class="fas fa-star fa-2x img-item mb-2"></i>
                <h3 class="feature-title">Pleasant interface</h3>
                <p>A minimalist interface helps you focus on your thoughts.</p>
              </div>
              <div class="feature-box col-lg-4">
                <i class="fas fa-heart fa-2x img-item mb-2"></i>
                <h3 class="feature-title">Customized mood</h3>
              </div>
          </div>
          <div class="text-center mb-5">
        </div>
      </div>
      </div>
    </div>
  </div>
</section> 



<section class="bg-color container" id="">

</section>

<%- include('partials/footer') %>