* {
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #eeece8;
}

.content {
    flex: 1;
}

.link{
  color: #579BB1 ;
}
.link:hover {
  color:#3d7487;
  text-decoration: underline;
}

.footer {
    flex-shrink: 0;
}

p{
  display: block;
  word-wrap: break-word
}

h1 {
  color: #579BB1;
  font-weight: bold;
}

input, textarea {
    background-color: #faf9f6 !important;
}

.bg-color {
    background-color: #eeece8;
}

.card-bg-color {
    background-color: #E1D7C6;
}
.card {
  border: none;
}

.radius-3percent {
    border-radius: 3%;
}
.max-700 {
    max-width: 700px;
}

.footer {
    background-color: #579BB1;
    color: #eeece8
}

.social-icon {
    color: #eeece8;
}

.welcome-img {
    width: 95%;
    border-radius: 3%;
    /*transform: rotate(6deg);*/
}

.cta-button {
   background-color: #579BB1;
   color: #eeece8;
}

.nav-link {
    color: var(--bs-body-color);
}

.navbar-brand {
    color: var(--bs-body-color);
    font-weight: lighter;
}

.navbar-brand:hover {
    transform: scale(1.1);
}

.nav-item {
  font-size: 14px;
}

.nav-item:hover {
    transform: scale(1.1);
}


.fas {
    color: #579BB1 ;
}
