
<%- include("../partials/header"); -%>
  <div class="mt-2 mb-2 content container max-700">
    <div class="row">
      <div class="col ">
        <h1 class="pb-4">Compose</h1>
        <%- include("../partials/alerts") %> 
      </div>
    </div>
    <div class="row">
      <div class="col">
        <form action="/posts" method="post">
          <%- include("formFields"); -%>
        </form>
      </div>
    </div>
  </div>

<%- include('../partials/footer') %>

