
<%- include("../partials/header"); -%>
  <div class="content container max-700">
    <div class="row">
      <div class="col">
        <h1 class="">Compose</h1>
        <hr>
        <%- include("../partials/alerts") %> 
      </div>
    </div>
    <div class="row pt-4">
      <div class="col">
        <form action="/posts" method="post">
          <%- include("formFields"); -%>
        </form>
      </div>
    </div>
  </div>

<%- include('../partials/footer') %>

